.courses-show-container {
  padding: 30px;
  min-height: 100%;
}

.utis-list-container {
  display: flex;
  padding: 50px;
  justify-content: space-around;
}

.utis-list {
  /* margin: auto; */
  /* width: 1150px; */
  /* height: 87px; */
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.utis-list-content {
  margin-top: 30px;
}

.utis-item {
  margin: 10px;
  display: flex;
  align-items: center;
}

.utis-item h2 {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 0px;
  background-color: white;
  font-size: 3em;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.utis-item-product {
  display: flex;
  justify-content: center;
  background-color: var(--dark-purple);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 460px;
  height: 80px;
}

.utis-item-product p {
  color: white;
  padding: 25px;
  font-size: 2.25em;
  margin: 0px;
  display: flex;
  align-items: center;
  text-align: center;
}

.course-icon {
  height: 33px;
}
