.courses-show-container {
  padding: 30px;
  min-height: 100%;
}

.utis-list-container {
  display: flex;
  padding: 50px;
  justify-content: space-around;
}

.utis-list {
  /* margin: auto; */
  /* width: 1150px; */
  /* height: 87px; */
  display: flex;
  flex-direction: column;
}

.utis-list-content {
  margin-top: 30px;
}

.utis-item {
  margin: 10px;
  display: flex;
  align-items: center;
}

.utis-item-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px 0px;
}

.utis-item-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 30px;
  margin: 0px;
  background-color: white;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.utis-item-index {
  font-size: 2.3em;
  margin: 0px;
  padding: 0px;
  padding-right: 20px;
  font-weight: 700;
}

.utis-item h2 {
  font-size: 1.5em;
}

.utis-item-product {
  display: flex;
  justify-content: center;
  background-color: var(--dark-purple);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.utis-item-product p {
  color: white;
  padding: 15px;
  font-size: 1.4em;
  margin: 0px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
}

.course-icon {
  height: 25px;
}
