html,
body,
#root,
.App {
  height: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --dark-purple: #282460;
  --students-purple: #8da5de;
  --events-purple: #8495bc;
  --general-events: #60e5bd;
  --faculty-events: #72dbff;
  --administration-events: #b9a9f2;
  --event-list-item-color: #7289be;
  --event-list-item-color-hover: #6076aa;
  --courses-purple: #dde7ff;
  --text-color-claro: #383784;
  --gph-purple: #5d7fcd;
  --dark-blue: #2a5894;

  --cultural: #9b7ec0;
  --ocupacional: #5f83b2;
  --cientifico: #83bc09;
  --humanistico: #75cf94;
  --comunitaria: #c5b7da;
  /* buttons */
  --button-green: #c9ffa7;
  --button-red: #f26e6e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.dark-purple {
  background-color: var(--dark-purple);
}

.dark-purple-text {
  color: var(--dark-purple) !important;
}

.courses-purple {
  background-color: #dde7ff;
}

.humanistico {
  background-color: var(--humanistico);
}

.cientifico {
  background-color: var(--cientifico);
}

.ocupacional {
  background-color: var(--ocupacional);
}

.cultural {
  background-color: var(--cultural);
}

.comunitaria {
  background-color: var(--comunitaria);
}

.light-purple {
  background-color: #7289be;
}

.very-light-purple {
  background-color: #c8d3ee;
}

.light-gray {
  background-color: #f2f3f6;
}

.white {
  background-color: white;
}

.white-text {
  color: white !important;
}

.dark-blue {
  background-color: var(--dark-blue);
}

.name-circle {
  background-color: white;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-circle.medium {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 20px;
  font-size: 0.7em;
}

.name-circle.small {
  height: 30px;
  width: 30px;
  font-size: 0.5em;
}

.name-circle.huge {
  height: 150px;
  width: 150px;
  font-size: 2.5em;
  background-color: lightblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

label {
  font-weight: 700 !important;
}

hr {
  border-color: #2a5894;
}

.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiSelect-outlined.MuiSelect-outlined {
  color: white !important;
  font-weight: 700;
}

.invert > .MuiOutlinedInput-notchedOutline {
  border-color: #282460 !important;
}

.invert > .MuiSelect-outlined.MuiSelect-outlined {
  color: #282460 !important;
  font-weight: 700;
}

.MuiInputBase-root.Mui-disabled {
  opacity: 0.4;
}

/* events purple scrollable */
.events-scrollable::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.events-scrollable::-webkit-scrollbar-track {
  background-color: #2a5894;
  border-radius: 10px;
  border: 3px solid var(--events-purple);
}

/* Handle */
.events-scrollable::-webkit-scrollbar-thumb {
  background: #2a5894;
  border-radius: 10px;
}

/* Handle on hover */
.events-scrollable::-webkit-scrollbar-thumb:hover {
  background: #557fb6;
}

/* scrollable on white background */

.scrollable::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.scrollable::-webkit-scrollbar-track {
  background-color: #2a5894;
  border-radius: 10px;
  border: 3px solid #fff;
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
  background: #2a5894;
  border-radius: 10px;
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #557fb6;
}

.search-form {
  height: 40px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid #282460;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.search {
  width: 80%;
  height: 34.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  font-size: 1em;
  border-radius: 20px;
  padding: 5px 0px;
  padding-left: 20px;
}

.search-image {
  padding: 10px;
  height: 38px;
  width: 40px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.modal {
  display: flex;
  width: 500px;
  flex-direction: column;
}

.text-align-center {
  text-align: center;
}

ul {
  margin: 0px;
  padding: 0px;
}

.textfield-input fieldset.MuiOutlinedInput-notchedOutline {
  border-color: var(--dark-purple) !important;
}

.textfield-outlined {
  margin: 8px !important;
  min-width: 170px !important;
  width: 100%;
}

.textfield-input {
  display: flex;
  align-items: center;
}

.MuiOutlinedInput-input {
  color: var(--dark-purple) !important;
}

.MuiFormLabel-root.Mui-error {
  color: #f44336 !important;
}

.select-input {
  /* width: 100%; */
  display: flex;
  align-items: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--dark-purple);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  padding-bottom: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 125%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--dark-purple) transparent transparent;
}

.primary-btn {
  margin: 0px;
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 9px;
  border-width: 0px;
  background-color: var(--dark-purple);
  cursor: pointer;
  font-weight: 700;
  font-size: 0.9em;
}

.primary-btn-outline {
  font-size: 1em;
  padding: 10px;
  margin: 10px;
  border: 2px solid var(--dark-purple);
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  color: white;
}

.secondary-btn-outline {
  font-size: 1em;
  padding: 10px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  color: white;
}

.secondary-btn-outline {
  font-size: 1em;
  padding: 10px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  color: white;
}

.secondary-btn-outline:hover {
  background-color: white;
  color: var(--dark-purple);
}

.rounded {
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
  font-size: 1.5em !important;
  font-weight: 700 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.event-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 20px;
}

.event-circle-general {
  background-color: var(--general-events);
}

.event-circle-faculty {
  background-color: var(--faculty-events);
}

.event-circle-administration {
  background-color: var(--administration-events);
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h3 {
  margin-bottom: 20px;
}

.no-margin {
  margin: 0px !important;
}

.no-margin .MuiOutlinedInput-root {
  border-radius: 0px 4px 4px 0px;
}

.hidden {
  visibility: hidden;
}

.pointer {
  cursor: pointer;
}

.font-weight-normal {
  font-weight: 400 !important;
}
