@import url("/src/index.css");

div.product-container {
  background-color: var(--courses-purple);
  color: ##27265e;
  display: flex;
  margin: 0 60px 0 60px;
  justify-content: space-between;
}

.title {
  margin: 30px 0px;
}

div.info-wrapper {
  max-width: 60%;
}

div.info-container {
  display: flex;
  flex-direction: column;
}

div.info-container > * {
  background-color: white;
  padding: 5px 0px;
}

div.step {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.step-instruction {
  background-color: white;
}

.step {
  border-radius: 5px;
}

.step-number {
  background-color: var(--text-color-claro);
  color: white;
  width: 10%;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-instruction {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

div.students-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 40%;
}
