div.product-container {
  background-color: var(--courses-purple);
  color: #27265e;
  display: flex;
  padding: 0px 60px;
  justify-content: space-between;
}

.title {
  margin: 30px 0px;
}

div.info-wrapper {
  width: 60%;
}

div.info-container {
  display: flex;
  flex-direction: column;
}

/* div.info-container > * {
  background-color: white;
  padding: 5px 0px;
} */

.step-box {
  display: flex;
  flex-direction: row;
  border-radius: 4px 0px 0px 4px;
  background-color: var(--courses-purple);
  height: 100px;
}

.step-number {
  background-color: var(--text-color-claro);
  color: white;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  font-weight: 700;
}

.step-instruction {
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  border-radius: 0 4px 4px 0;
  background-color: white;
  
}

div.students-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 40%;
}

.students-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-main {
  box-shadow: "none";
  font-size: 16;
  padding: "6px 12px";
  line-height: 1.5;
}

.large-paragraph {
  background-color: white;
  padding: 20px;
}
